{% load staticfiles %}
<img src="{% static "shoutbox/kamaji.png" %}" />
{% for shout in shouts %}
    <li>{{ shout.sender }} shouted: {{ shout.message }} @ {{ shout.date }} </li>
{% endfor %}

<form action="{% url 'shoutbox:shout' %}" method="post">
    {% csrf_token %}

    <input type="text" name="sender" />
    <input type="text" name="message" />
    <input type="submit" value="Shout!" />
</form>